/* line 11, ../sass/main.scss */
html, body {
  font-family: Ubuntu;
}

/* line 18, ../sass/main.scss */
.full-viewport {
  height: 100vh;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

/* line 25, ../sass/main.scss */
.canvas-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* line 34, ../sass/main.scss */
.canvas-wrapper .color-previewer-canvas {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}
/* line 45, ../sass/main.scss */
.canvas-wrapper #blender-canvas {
  top: 0;
  left: 0;
  position: absolute;
}

/* line 52, ../sass/main.scss */
.cover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
/* line 65, ../sass/main.scss */
.cover .rainbow-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.75);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff3f00, #FFC926, #00D8D8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff3f00, #FFC926, #00D8D8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff3f00, #FFC926, #00D8D8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff3f00, #FFC926, #00D8D8);
  /* Standard syntax */
}
/* line 80, ../sass/main.scss */
.cover .navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
/* line 85, ../sass/main.scss */
.cover #top-nav-bar-responsive {
  top: 3px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #cccccc;
}
/* line 90, ../sass/main.scss */
.cover #top-nav-bar-responsive .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
/* line 96, ../sass/main.scss */
.cover #top-nav-bar-responsive .container span {
  font-size: 18px;
}
/* line 100, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background-color: transparent;
}
/* line 107, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
/* line 115, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header .logo-wrapper > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 121, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header span.brand-text {
  font-size: 36px;
  border-right: 1px solid #555555;
  padding-right: 10px;
  margin-right: 10px;
}
/* line 127, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header span.brand-text a {
  pointer-events: none;
  color: #cccccc;
}
/* line 132, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header span.brand-text a.bold {
  font-weight: 100;
}
/* line 136, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header span.brand-text a.red {
  color: #ff3f00;
}
/* line 140, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header span.brand-text a.yellow {
  color: #FFC926;
}
/* line 144, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header span.brand-text a.blue {
  color: #00D8D8;
}
/* line 149, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header div.logo {
  height: 36px;
  width: 220px;
  background-image: url("../assets/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 157, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .navbar-header div.pipe {
  width: 1px;
  height: 40px;
  margin: 0 10px;
  background-color: #555555;
}
/* line 166, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .nav-bar-right {
  float: right;
  color: #cccccc;
}
/* line 171, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .nav-bar-right a {
  color: #cccccc;
}
/* line 176, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .nav > li > span {
  line-height: 50px;
  margin-right: 5px;
  color: #cccccc;
  font-size: 18px;
}
/* line 183, ../sass/main.scss */
.cover #top-nav-bar-responsive .container .nav > li > a {
  padding: 10px 5px;
}
/* line 194, ../sass/main.scss */
.cover .input-group-wrapper {
  top: 40%;
  max-height: 150px;
  width: 100%;
}
/* line 200, ../sass/main.scss */
.cover .input-group-wrapper .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 207, ../sass/main.scss */
.cover .input-group-wrapper .input-wrapper .search-text-input-wrapper .search-photo-text-input {
  height: 64px;
  line-height: 64px;
  width: 100%;
  padding: 6px 24px;
  font-size: 44px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0px;
  border-radius: 44px;
  font-weight: 100;
}
/* line 223, ../sass/main.scss */
.cover .input-group-wrapper .input-wrapper .search-photo-button {
  text-align: center;
  cursor: pointer;
}
/* line 229, ../sass/main.scss */
.cover .input-group-wrapper .input-wrapper .search-photo-button .loader {
  position: relative;
  text-align: center;
  padding: 18px 0;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  background: url("../assets/img/loader-placeholder.gif") no-repeat center center;
}
/* line 240, ../sass/main.scss */
.cover .input-group-wrapper .input-wrapper .search-photo-button .loader .circle-button {
  margin: auto;
  line-height: 64px;
  height: 64px;
  width: 64px;
  border-radius: 44px;
  background: #222222 url("../assets/img/brush-new.png") no-repeat center center;
}
/* line 250, ../sass/main.scss */
.cover .input-group-wrapper .input-wrapper .search-photo-button .loader.loading {
  background: url("../assets/img/loader.gif") no-repeat center center;
}
/* line 253, ../sass/main.scss */
.cover .input-group-wrapper .input-wrapper .search-photo-button .loader.loading .circle-button {
  margin: auto;
}
/* line 260, ../sass/main.scss */
.cover .input-group-wrapper .loading-message-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 268, ../sass/main.scss */
.cover .input-group-wrapper .loading-message-wrapper .span-text-style, .cover .input-group-wrapper .loading-message-wrapper #loading-message-search, .cover .input-group-wrapper .loading-message-wrapper #loading-message-smoosh, .cover .input-group-wrapper .loading-message-wrapper #loading-message-squeez {
  margin-left: 10px;
  font-size: 25px;
  line-height: 25px;
}
/* line 274, ../sass/main.scss */
.cover .input-group-wrapper .loading-message-wrapper #loading-message-search {
  color: #ff3f00;
}
/* line 279, ../sass/main.scss */
.cover .input-group-wrapper .loading-message-wrapper #loading-message-smoosh {
  color: #FFC926;
}
/* line 284, ../sass/main.scss */
.cover .input-group-wrapper .loading-message-wrapper #loading-message-squeez {
  color: #00D8D8;
}
/* line 290, ../sass/main.scss */
.cover .input-group-wrapper .loading-message-wrapper #loading-message-error div {
  display: inline-block;
  vertical-align: middle;
  color: #919191;
}
/* line 296, ../sass/main.scss */
.cover .input-group-wrapper .loading-message-wrapper #loading-message-error .loading-message-error-icon {
  font-size: 32px !important;
  border-right: 1px solid #909090;
  padding-right: 15px;
}
/* line 302, ../sass/main.scss */
.cover .input-group-wrapper .loading-message-wrapper #loading-message-error .loading-message-error-text {
  text-align: left;
  max-width: 350px;
  font-size: 20px !important;
  font-weight: 60 !important;
  margin-left: 10px;
}

/* line 318, ../sass/main.scss */
.photo-column-wrapper {
  margin-top: 50px;
}

/* line 322, ../sass/main.scss */
.photo-item-wrapper {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border: 1px solid #efefef;
}

/* line 328, ../sass/main.scss */
.img-wrapper {
  width: 100%;
  height: 400px;
  margin: 0 0 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

/* line 341, ../sass/main.scss */
.img-selector {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0);
  z-index: 1000;
}

/* line 358, ../sass/main.scss */
.img-selector.active {
  background-color: white;
  color: #636363;
}

/* line 363, ../sass/main.scss */
.unsplash-link {
  position: absolute;
  bottom: 5px;
  left: 10px;
  cursor: pointer;
  color: #cccccc;
  font-size: 300;
  z-index: 1000;
}
/* line 372, ../sass/main.scss */
.unsplash-link span.fa {
  vertical-align: middle;
}

/* line 377, ../sass/main.scss */
.unsplash-link:hover {
  color: #ffffff;
}

/* line 400, ../sass/main.scss */
.update-crop {
  position: absolute;
  top: 5px;
  right: 35px;
  cursor: pointer;
  text-align: center;
  height: 20px;
  border-radius: 3%;
  padding: 0 3px;
  background-color: white;
  color: #636363;
  z-index: 1000;
}

/* line 418, ../sass/main.scss */
.crop-zoomin {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 1px;
  background-color: white;
  color: #636363;
  font-size: 12px;
  font-weight: 100;
  z-index: 1000;
}

/* line 422, ../sass/main.scss */
.crop-zoomout {
  position: absolute;
  top: 26px;
  left: 5px;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 1px;
  background-color: white;
  color: #636363;
  font-size: 12px;
  font-weight: 100;
  z-index: 1000;
}

/* line 426, ../sass/main.scss */
.canvas-download-btn {
  position: absolute;
  bottom: 195px;
  right: 20px;
  cursor: pointer;
  text-align: center;
  height: 20px;
  border-radius: 8%;
  color: #cccccc;
  display: none;
}
/* line 437, ../sass/main.scss */
.canvas-download-btn span.fa {
  vertical-align: middle;
  margin-right: 5px;
}

/* line 443, ../sass/main.scss */
.canvas-download-btn.show {
  display: unset;
}

/* line 447, ../sass/main.scss */
.canvas-download-btn:hover {
  color: #fff;
}

/* line 455, ../sass/main.scss */
.color-palette-wrapper, .color-palette-wrapper-canvas {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 464, ../sass/main.scss */
.color-palette-wrapper .color-palette-item-wrapper, .color-palette-wrapper-canvas .color-palette-item-wrapper {
  display: inline-block;
  margin: 0 10px;
  min-width: 80px;
}
/* line 470, ../sass/main.scss */
.color-palette-wrapper .color-palette-item-wrapper .color-palette-item, .color-palette-wrapper-canvas .color-palette-item-wrapper .color-palette-item {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
/* line 481, ../sass/main.scss */
.color-palette-wrapper .color-palette-item-wrapper .color-label, .color-palette-wrapper-canvas .color-palette-item-wrapper .color-label {
  text-align: center;
  font-size: 12px;
}

/* line 495, ../sass/main.scss */
.color-palette-wrapper-canvas {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  padding: 20px 0;
  min-height: 178px;
}
/* line 503, ../sass/main.scss */
.color-palette-wrapper-canvas .color-palette-item-wrapper {
  margin: 0 20px;
  position: relative;
}
/* line 507, ../sass/main.scss */
.color-palette-wrapper-canvas .color-palette-item-wrapper .color-palette-item {
  height: 75px;
  width: 75px;
  min-width: 90px;
  min-height: 90px;
}
/* line 514, ../sass/main.scss */
.color-palette-wrapper-canvas .color-palette-item-wrapper .color-label {
  color: #CCCCCC;
  font-size: 14px;
}
/* line 520, ../sass/main.scss */
.color-palette-wrapper-canvas .input-range-wrapper {
  margin-left: 20px;
  padding-left: 40px;
  border-left: 1px solid #555555;
}
/* line 527, ../sass/main.scss */
.color-palette-wrapper-canvas .copy-button-wrapper {
  width: 20px;
  height: 120px;
}
/* line 533, ../sass/main.scss */
.color-palette-wrapper-canvas .copy-button-wrapper .copy-button-item {
  cursor: pointer;
  color: #CCCCCC;
}
/* line 539, ../sass/main.scss */
.color-palette-wrapper-canvas .color-palette-items-wrapper {
  position: relative;
}
/* line 542, ../sass/main.scss */
.color-palette-wrapper-canvas .color-palette-items-wrapper .rect-gradient-color {
  position: absolute;
  top: 30px;
  height: 30px;
  width: 80%;
  margin-left: 10%;
  cursor: pointer;
  background: transparent;
  /* For browsers that do not support gradients */
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 565, ../sass/main.scss */
  .color-palette-wrapper .color-palette-item-wrapper, .color-palette-wrapper-canvas .color-palette-item-wrapper {
    margin: 0 5px;
  }

  /* line 574, ../sass/main.scss */
  .color-palette-wrapper-canvas .color-palette-item-wrapper {
    margin: 0 30px;
  }
}
/* line 580, ../sass/main.scss */
.footer {
  text-align: center;
  color: #919191;
  margin: 30px 10px 60px;
}
/* line 585, ../sass/main.scss */
.footer .rainbow-line-footer {
  height: 3px;
  width: 100%;
  z-index: 999;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.75);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff3f00, #FFC926, #00D8D8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff3f00, #FFC926, #00D8D8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff3f00, #FFC926, #00D8D8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff3f00, #FFC926, #00D8D8);
  /* Standard syntax */
}

/* line 598, ../sass/main.scss */
.footer-wide {
  text-align: center;
  background-color: #EEEEEE;
  color: #999999;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 605, ../sass/main.scss */
.footer-wide .rainbow-line-footer {
  height: 3px;
  width: 100%;
  z-index: 999;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.75);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff3f00, #FFC926, #00D8D8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff3f00, #FFC926, #00D8D8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff3f00, #FFC926, #00D8D8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff3f00, #FFC926, #00D8D8);
  /* Standard syntax */
}
/* line 617, ../sass/main.scss */
.footer-wide div.footer-column {
  text-align: left;
  margin-bottom: 60px;
  padding: 0 20px 0;
}
/* line 622, ../sass/main.scss */
.footer-wide div.footer-column .footer-column-header {
  font-size: 28px;
  color: #cccccc;
  margin-bottom: 15px;
}
/* line 628, ../sass/main.scss */
.footer-wide div.footer-column .footer-column-content {
  font-size: 14px;
  max-width: 400px;
}

@media (max-width: 992px) {
  /* line 637, ../sass/main.scss */
  .logo-wrapper {
    display: flex !important;
    justify-content: initial !important;
    align-items: center !important;
    padding: 0 15px;
  }

  /* line 644, ../sass/main.scss */
  .img-wrapper {
    height: 350px;
  }

  /* line 653, ../sass/main.scss */
  .color-palette-wrapper .color-palette-item-wrapper, .color-palette-wrapper-canvas .color-palette-item-wrapper {
    margin: 0 5px;
  }
  /* line 655, ../sass/main.scss */
  .color-palette-wrapper .color-palette-item-wrapper .color-palette-item, .color-palette-wrapper-canvas .color-palette-item-wrapper .color-palette-item {
    height: 35px;
    width: 35px;
  }

  /* line 668, ../sass/main.scss */
  .color-palette-wrapper-canvas .color-palette-item-wrapper {
    margin: 0 20px;
  }
  /* line 670, ../sass/main.scss */
  .color-palette-wrapper-canvas .color-palette-item-wrapper .color-palette-item {
    height: 75px;
    width: 75px;
  }

  /* line 678, ../sass/main.scss */
  .color-palette-wrapper-canvas .input-range-wrapper {
    margin-left: 15px;
    padding-left: 20px;
    border-left: 1px solid #555555;
  }

  /* line 684, ../sass/main.scss */
  .footer-column-content {
    max-width: unset !important;
  }
}
@media (max-width: 768px) {
  /* line 691, ../sass/main.scss */
  .img-wrapper {
    height: 250px;
  }

  /* line 697, ../sass/main.scss */
  .color-palette-wrapper .color-palette-item-wrapper, .color-palette-wrapper-canvas .color-palette-item-wrapper {
    min-width: 0px;
    margin: 0 5px;
  }
  /* line 701, ../sass/main.scss */
  .color-palette-wrapper .color-palette-item-wrapper .color-label.rgb, .color-palette-wrapper-canvas .color-palette-item-wrapper .color-label.rgb {
    display: none;
  }

  /* line 709, ../sass/main.scss */
  .color-palette-wrapper-canvas .color-palette-items-wrapper .rect-gradient-color {
    display: none !important;
  }
  /* line 714, ../sass/main.scss */
  .color-palette-wrapper-canvas .color-palette-item-wrapper {
    margin: 0 5px;
  }
  /* line 717, ../sass/main.scss */
  .color-palette-wrapper-canvas .color-palette-item-wrapper .color-palette-item {
    height: 60px;
    width: 60px;
    min-width: unset;
    min-height: unset;
  }
  /* line 726, ../sass/main.scss */
  .color-palette-wrapper-canvas .color-palette-item-wrapper .color-label.rgb {
    display: none;
  }
  /* line 731, ../sass/main.scss */
  .color-palette-wrapper-canvas .input-range-wrapper {
    display: none !important;
  }
  /* line 735, ../sass/main.scss */
  .color-palette-wrapper-canvas .copy-button-wrapper {
    display: none !important;
  }

  /* line 741, ../sass/main.scss */
  .navbar-header {
    position: relative !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  /* line 747, ../sass/main.scss */
  .navbar-header .logo-wrapper {
    padding: 0 !important;
  }

  /* line 751, ../sass/main.scss */
  .nav-bar-right {
    float: none !important;
  }

  /* line 755, ../sass/main.scss */
  .nav > li {
    padding-left: 15px !important;
  }

  /* line 759, ../sass/main.scss */
  .nav > li:hover {
    background-color: rgba(30, 30, 30, 0.9);
  }
}
@media (max-width: 568px) {
  /* line 774, ../sass/main.scss */
  .logo-wrapper div.pipe {
    display: none !important;
  }
  /* line 778, ../sass/main.scss */
  .logo-wrapper div.logo-sub-title {
    display: none !important;
  }
}
/* line 787, ../sass/main.scss */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-appearance: none;
}
